main {
  margin-top: 325px;

  .zagalovok {
    margin-top: 24px;
    margin-bottom: 34px;
    text-align: center;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #100e0e;
  }

  #cards {
    .novinki {
      width: 96px;
      height: 25px;
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #0071e4;
      margin-bottom: 24px;
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: 24px;
      row-gap: 24px;
      margin-bottom: 40px;

      .card {
        width: 282px;
        height: 611px;
        background: #ffffff;
        box-shadow: 0px 2px 2px rgba(114, 112, 112, 0.09);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 16px 16px 24px 16px;

        &:hover {
          box-shadow: 0 0 10px black;
          border-radius: 8px;
          transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
        }
        .bow {
          display: flex;
          column-gap: 37px;
          margin-bottom: 18px;

          .card-yulduz {
            display: flex;
            align-items: center;
            column-gap: 2px;
            p {
              margin-left: 6px;
            }
          }
          .card-icon {
            column-gap: 8px;
          }
        }

        .apple-xs {
          align-items: center;
          display: flex;
          width: 266px;
          height: 58px;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          text-align: center;
          color: #100e0e;
          margin-bottom: 9px;
        }

        .image1 {
          margin-bottom: 16px;
        }

        .card-ortasi {
          display: flex;

          justify-content: center;
          column-gap: 22px;
          margin-bottom: 5px;

          .nalici {
            display: flex;
            align-items: center;
            column-gap: 5px;
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #706e6e;
          }

          .garan {
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #706e6e;
          }
        }

        .card-summa {
          display: flex;
          align-items: center;
          column-gap: 16px;
          justify-content: center;
          margin-bottom: 18px;

          .ong {
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            color: #100e0e;
          }

          .chap {
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-decoration-line: line-through;
            color: #878787;
          }
        }
        .card-btn {
          margin-left: -8px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 8px;
          background: #0071e4;
          border-radius: 8px;
          width: 266px;
          height: 56px;
          border: none;
          color: white;
          margin-bottom: 8px;
          cursor: pointer;

          &:hover {
            background: #2a93fd;
            transition: all 0.2s ease;
          }

          &:focus {
            background: #6fd91c;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
          }
        }

        .card-pas {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .www {
            font-family: "SF Pro Display";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #706e6e;
          }
        }
      }
    }
  }
  #section-5 {
    background-color: #d0eafc;
    height: 480px;
    .container {
      position: relative;
    }
    .wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 48px;
      padding-top: 100px;
      margin-top: 10px;

      .pipi {
        display: flex;
        align-items: center;
        column-gap: 16px;
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        color: #1e3240;
        margin-top: 18px;
      }

      .btn-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
        width: 160px;
        height: 56px;
        background: #0071e4;
        border-radius: 8px;
        color: white;
        border: none;
        margin-top: 19px;
      }
    }
    .wrapper-2 {
      top: 220px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1240px;
    }
  }

  #intro {
    margin-bottom: 32px;

    h2 {
      width: 687px;
      height: 38px;
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      color: #100e0e;
      margin-bottom: 32px;
    }
    p {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #585656;
    }
    .lorem {
      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #585656;
      margin-bottom: 30px;
    }
  }

  #iphone-black {
    background: #000000;
    margin-bottom: 32px;

    .iphone14 {
      display: flex;
      column-gap: 84px;

      .iphone-right {
        h1 {
          color: white;
          width: 467px;
          height: 67px;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 700;
          font-size: 56px;
          line-height: 67px;
          color: #ffffff;
          margin-bottom: 16px;
          padding: 0;
          margin: 0;
          margin-top: 84px;
        }
        p {
          width: 279px;
          height: 29px;
          font-family: "SF Pro Display";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #ffffff;
          margin-bottom: 24px;
          margin: 0;
          padding: 0;
          margin-top: 16px;
        }
        button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0px;
          gap: 8px;
          width: 160px;
          height: 56px;
          background: #0071e4;
          border-radius: 8px;
          border: none;
          color: white;
          margin: 0;
          padding: 0;
          margin-top: 24px;
          cursor: pointer;

          &:hover {
            background: #2a93fd;
          }

          &:focus {
            background: #e7e7e7;
            color: black;
          }
        }
      }
    }
  }

  #advantages {
    height: 642px;
    h1 {
      padding-top: 40px;
      margin-bottom: 24px;
      text-align: center;
      font-family: "Pro Bold";
      font-size: 32px;
      line-height: 38px;
      color: #100e0e;
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px;
        width: 228px;
        height: 500px;
        background: linear-gradient(180.04deg, #fe94a6 0.04%, #f2f2f2 65.84%);
        border-radius: 16px;
        .div1 {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .div2 {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            margin-bottom: 47px;
          }
        }
        .div3 {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .div4 {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .div5 {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            margin-bottom: 20px;
          }
        }
        img {
          width: 160px;
          height: 160px;
        }
        h3 {
          font-family: "Pro Bold";
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          color: #100e0e;
        }
        p {
          margin-top: 8px;
          font-family: "Pro Regular";
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #585656;
        }
        button {
          margin-bottom: 32px;
          padding: 16.5px 60.5px;
          font-family: "Pro Medium";
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: #0071e4;
          border: 1px solid #0071e4;
          border-radius: 8px;
        }
      }
      .div1 {
        margin-bottom: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .div2 {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .div3 {
        margin-bottom: 81px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .div4 {
        margin-bottom: 91px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .div5 {
        margin-bottom: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .bg1 {
        background: linear-gradient(180.04deg, #e685ff 0.04%, #f2f2f2 65.84%);
      }
      .bg2 {
        background: linear-gradient(180.04deg, #7de9ff 0.04%, #f2f2f2 65.84%);
      }
      .bg3 {
        background: linear-gradient(180.04deg, #ffe685 0.04%, #f7f7f7 65.84%);
      }
      .bg4 {
        background: linear-gradient(180.04deg, #adffc1 0.04%, #f2f2f2 65.84%),
          #f2f2f2;
      }
    }
    .mobile {
      display: none;
    }
  }
}

#prefooter {
  height: 481px;
  background: #f9f9f9;
  .wrapper {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 86px;
    .right {
      max-width: 481px;
      h5 {
        font-family: "Pro Bold";
        font-size: 48px;
        line-height: 57px;
        color: #100e0e;
      }
      p {
        margin-top: 8px;
        font-family: "Pro Regular";
        font-size: 24px;
        line-height: 29px;
        color: #585656;
      }
      form {
        margin-top: 25px;
        padding: 16px 32px 32px 32px;
        width: 486px;
        height: 196px;
        background: linear-gradient(90.34deg, #f7355d 0.3%, #9747ff 101.33%);
        border-radius: 16px;
        h3 {
          margin-bottom: 4px;
          font-family: "Pro Bold";
          font-size: 40px;
          line-height: 48px;
          color: #ffffff;
        }
        p {
          margin-bottom: 16px;
          font-family: "Pro Medium";
          font-size: 20px;
          line-height: 24px;
          color: #ffffff;
        }
        .input {
          display: flex;
          column-gap: 16px;
          input {
            width: 246px;
            height: 56px;
            background: #ffffff;
            border: 1px solid #dbdbdb;
            border-radius: 8px;
            &::placeholder {
              font-family: "Pro Regular";
              padding-left: 24px;
              font-size: 24px;
              line-height: 29px;
              color: #878787;
            }
            &:focus {
              border: 2px solid #0071e4;
            }
          }
          button {
            font-family: "Pro Medium";
            font-size: 16px;
            line-height: 19px;
            color: #585656;
            border: none;
            width: 160px;
            height: 56px;
            background: #e7e7e7;
            border-radius: 8px;
          }
        }
      }
    }
  }
}



  

// ----------------------------------------------------
// ---------------------------------------------------

@media only screen and (max-width: 768px) {
  main {
    margin-top: 40px;
    #advantages {
      height: 932px;
      .wrapper {
        row-gap: 8px;
        flex-wrap: wrap;
        .card {
          align-items: center;
          padding-left: 24px;
          padding-right: 71px;
          justify-content: space-between;
          flex-direction: row;
          width: 720px;
          height: 158px;
          background: #f9f9f9;
          border-radius: 16px;
          img {
            margin-right: 26px;
            width: 64px;
            height: 64px;
          }
          h3 {
            padding-top: 8px;
            text-align: left;
          }
          p {
            max-width: 293px;
            text-align: left;
          }
          button {
            margin-bottom: 0;
          }
          .div1 {
            margin-bottom: 0;
            align-items: flex-start;
            flex-direction: row;
          }
          .div2 {
            margin-bottom: 0;
            align-items: flex-start;
            flex-direction: row;
          }
          .div3 {
            align-items: flex-start;
            margin-bottom: 0;
            flex-direction: row;
          }
          .div4 {
            align-items: flex-start;
            margin-bottom: 0;
            flex-direction: row;
          }
          .div5 {
            align-items: flex-start;
            margin-bottom: 0;
            flex-direction: row;
          }
        }
      }
      .mobile {
        display: none;
      }
    }

    #iphone-black {
      .iphone14 {
        .iphone-left {
          img {
            height: 276px;
            width: 130px;
          }
        }
        .iphone-right {
          h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
          }
          p {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            margin: 0;
            padding: 0;
          }
          button {
            width: 160px;
            height: 56px;
          }
        }
      }
    }
    #section-5 {
      background-color: #d0eafc;
      height: 480px;
      .container {
        position: relative;
      }
      .wrapper {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        column-gap: 48px;
        padding-top: 100px;
        margin-top: 10px;
        width: 768px;
        height: 480px;

        .wrapper-left {
          order: 2;

          img {
            width: 269px;
          }
        }

        .wrapper-right {
          display: flex;
          align-items: center;

          flex-direction: column;
          img {
            width: 308px;
            height: 72px;
          }

          span {
            margin-top: 6px;
            font-size: 32px;
            line-height: 38px;
            font-weight: 400;
          }
          h2 {
            font-weight: 500;

            font-size: 48px;
            line-height: 57px;
          }

          .btn-2 {
            margin-top: 16px;
            margin-bottom: 31px;
            width: 160px;
            height: 56px;
            display: flex;
            justify-content: center;
          }
        }
      }
      .wrapper-2 {
        width: 720px;
      }
    }
  }
  #subscribe {
    .sub_all {
      width: 50px;

      img {
        width: 300px;
        height: 173px;
      }

      .sub_card {

        display: none;
       
      }
    }
  }
  @media only screen and (max-width: 768px) {
  #prefooter {
    background: #ffffff;
    height: 358px;
    .wrapper {
      // margin-top: 24px;
      position: relative;
      column-gap: 33px;
      .left {
        img {
          left: 0;
          top: 34px;
          position: absolute;
          width: 224.56px;
          height: 173px;
        }
      }
      .right {
        margin-left: 100px;
        h5 {
          margin-bottom: 8px;
          max-width: 339px;
          font-size: 32px;
          line-height: 38px;
        }
        p {
          margin-bottom: 0;
          max-width: 300px;
          font-size: 16px;
          line-height: 19px;
        }
        form {
          flex-wrap: wrap;
          margin-top: 16px;
          padding: 8px 16px;
          width: 279px;
          height: 63px;
          h3 {
            font-size: 20px;
            line-height: 24px;
          }
          p {
            font-size: 16px;
            line-height: 19px;
          }
          .input {
            margin-left: -16px;
            width: 414px;
            display: flex;
            column-gap: 8px;
            input {
            }
            button {
              width: 160px;
              height: 56px;
            }
          }
        }
      }
    }
  }
}
}
